//colors //
$orange-btn: #FF9751;
$orange-text: #F5A623;
$white: #FFFFFF;
$blue:#04D3D4;

//common classes //
.hidden-mobile {
	@include breakpoint(mobileonly) {
	display: none;
	}
}

.hidden {
	opacity: 0;
}

.hidden-nav {
	transform: translate(-400px);
}

.burger-transform-1 {
	transform: rotate(45deg);
}

.burger-transform-2 {
	transform: rotate(-45deg);
	margin-top: -12px;
}
