//colors //
$orange-btn: #FF9751;
$orange-text: #F5A623;
$white: #FFFFFF;
$blue:#04D3D4;

//common classes //
.hidden-mobile {
	@include breakpoint(mobileonly) {
	display: none;
	}
}

.hidden {
	display: none;
}
