.desc {
  width: 100%;
  min-height: 100vh;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
  @include breakpoint(laptop) {
    min-height: auto;
    position: relative;
    padding: 100px 0;
  }

  &__container {
    margin: 30px auto;
    @include breakpoint(laptop) {
      position: relative;
    }

    &--image {
      width: 20%;
      @include breakpoint(laptop) {
        width: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img{
        width: 100%;
      }
    }

    &--top {
      @include breakpoint(laptop) {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(row);
        @include align-self(flex-start);
        margin: 20px 150px;
      }
    }

    &--bottom {
      @include breakpoint(laptop) {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(row);
        @include align-self(flex-end);
        margin: 20px 150px 20px 0;
      }
    }
  }

  &__content {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    margin: 30px 0;
    @include breakpoint(laptop) {
      @include justify-content(flex-start);
      @include align-items(flex-start);
      margin: 0 30px;
    }
  }

  &__icon {
    display: none;
    @include breakpoint(laptop) {
      display: block;
    }
  }

  &__title {
    margin-bottom: 12px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    @include breakpoint(laptop) {
      text-align: left;
    }
  }

  &__text {

    &--small {
      max-width: 114px;
      color: #fff;
      font-size: 8px;
      font-weight: 300;
    }

    &--medium {
      max-width: 133px;
      color: #fff;
      font-size: 8px;
      font-weight: 300;
    }

    &--large {
      max-width: 141px;
      color: #fff;
      font-size: 8px;
      font-weight: 300;
    }
  }

  &__image {
    @include breakpoint(laptop) {
      width: 100%;
    }
  }
}

.start {
  background: -webkit-linear-gradient(318deg, #FF5E62, #FF9966);
  background: -o-linear-gradient(318deg, #FF5E62, #FF9966);
  background: linear-gradient(-48deg, #FF5E62, #FF9966);
  }
