.header {
  width: 100%;
  position: relative;
  background: url('../img/doodler.svg');
  background: -webkit-linear-gradient(318deg, #FF5E62, #FF9966);
  background: -o-linear-gradient(318deg, #FF5E62, #FF9966);
  background: linear-gradient(-48deg, #FF5E62, #FF9966);
  &__divider {
	  content: "";
	  position: absolute;
	  bottom: -44px;
	  width: 100%;
	  @include breakpoint(phablet) {
	  	bottom: -64px;
	  }
	  @include breakpoint(laptop) {
	  	bottom: -96px;
	  }
	  @include breakpoint(desktop) {
	  	bottom: -128px;
	  }
  }
  &__title-container {
  	background: url('../img/doodler.svg') no-repeat;
  	padding: 40px 0 0;
  	background-position: 50%;
  }
  &__title {
  	color:$white;
  	font-size: 40px;
  	font-family: $font-heavy;
  	text-align: center;
  	width: 60%;
  	margin: auto;
  	transform:translateY(-30%);
  	padding-top: 30vh;
  	text-transform: uppercase;
  	@include breakpoint(phablet) {
  		text-align: left;
  		font-size: 60px;
  	}
  	@include breakpoint(laptop) {
  		text-align: center;
  		padding: 20vh;
  		transform:translateY(-20%);
  	}
  }
  &__button {
  	width: 166px;
  	padding-top: 12px;
  	height: 36px;
  	text-decoration: none;
  	margin:0 auto;
  	text-align: center;
  	background: $white;
  	color:$blue;
  	font-size: 12px;
  	display: block;
  	text-transform: uppercase;
  }
  &__button-container {
  	@include breakpoint(phablet) {
  		margin-top: 15px;
  	}
  }
  &__content {
  	display: flex;
  	color:$white;
  	margin-top: 20px;
  	align-items:center;
  	position: relative;
  	img {
  		width: 25%;
  		@include breakpoint(phablet) {
  			width: 20%;
  		}
  		@include breakpoint(laptop) {
  			width: 15%;
  		}
  		@include breakpoint(desktop) {
  			margin-bottom: 38px;
  		}
  	}
  }
  &__text {
  	margin-bottom: 20px;
  	width: 65%;
  	padding-left: 20px;
  	@include breakpoint(phablet) {
  		margin-bottom: 63px;
  		width: 60%;
  	}
  	@include breakpoint(laptop) {
  		margin-bottom: 0;
  		width: 40%;
  	}
  }
  p {
  	font-size: 8px;
  	@include breakpoint(phablet) {
  		font-size: 12px;
  	}
  	@include breakpoint(laptop) {
  		font-size: 16px;
  	}
  }
  h3 {
  	text-align: center;
  	font-family: $font-black;
  	margin-bottom: 10px;
  	font-size:20px;
  	@include breakpoint(phablet) {
  		position: absolute;
  		right: 2%;
  	}
  	@include breakpoint(laptop) {
  		right: 28%;
  		font-size: 33px;
  	}
  }
}

.header__nav-burger {
	position: relative;
	cursor: pointer;
	div {
		position: absolute;
		width: 25px;
		height: 0.8px;
		left:20px;
		background: $white;
	}
	.burger-1 {
		top:30px;	
	}
	.burger-2 {
		top:35px;
	}
	.burger-3 {
		top:40px;
	}
}