.product {
  width: 100%;
  height: 100vh;
  position: relative;

  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__slider--prev,
  &__slider--next {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 9;
    @include breakpoint(tablet) {
      display: none;
    }
    img {
      cursor: pointer;
      margin: 20px;
    }
  }

  &__slider--prev {
    left: 0;
  }

  &__slider--next {
    right: 0;
  }

  &__single {

    &--pro,
    &--soon,
    &--child {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include breakpoint(tablet) {
        width: calc(100% / 3);
      }

      .action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__btn {

          &--soon,
          &--buy,
          &--more {
            width: 175px;
            margin: 20px;
            position: relative;
            box-shadow: 10px 10px 222px $dark-grey;

            &:after {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 0;
              height: 100%;
              transition: 0.4s;
              background: $white;
              content: '';
            }

            &:hover {
              @include breakpoint(laptop) {
                background: none;
                transition: 0.4s;

                &:after {
                  width: 100%;
                  transition: 0.4s;
                  z-index: -1;
                }
              }
            }

            a {
              z-index: 3;
              text-decoration: none;
              text-transform: uppercase;
              font-family: $font;
              color: $white;
              width: 100%;
              height: 100%;
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              font-size: 15px;

              &.bold {
                font-family: $font-heavy;
              }
            }
          }

          &--soon {
            background-color: $blue;
            &:hover {
              @include breakpoint(laptop) {
                a{
                  color: $blue;
                  transition: 0.4s;
                }
              }
            }
          }

          &--buy {
            background-color: $orange-btn;
            &:hover {
              @include breakpoint(laptop) {
                a{
                  color: $orange-btn;
                  transition: 0.4s;
                }
              }
            }
          }

          &--more {
            background-color: $dark-grey;
            &:hover {
              @include breakpoint(laptop) {
                a{
                  color: $dark-grey;
                  transition: 0.4s;
                }
              }
            }
          }
        }
      }
    }

    &--pro {
      background: linear-gradient(153.46deg, #29323C 46.73%, #485563 110.09%);
    }
    &--soon {
      background: linear-gradient(153.46deg, #67FFF7 46.73%, #55FFD7 110.09%);
    }
    &--child {
      background: linear-gradient(153.46deg, #FF9966 46.73%, #FF5E62 110.09%);
    }
  }
}
